.footer{
    background-color:  #23FF96;
    text-align: center;
    max-width: 100%;
    display: flex;
}

.img-footer img{
    max-width: 100%;
}

.navbar-footer {
    display: flex;
    bottom: 0;
    width: 100%;  
   
  }
  

