.footer{
    background-color: #3FDD58;
    text-align: center;
    max-width: 100%;
}

.wrapper-footer{
    display: flex;
    
}

.img img{
    max-width: 100%;    
}

.links-footer{
    font-weight: 500;
    font-size: 13px;
    text-align: left;
    display: grid;
    margin-right: 100px;
}

.links-footer p{
    font-size: 18px;
}

.link-footer{
    color: black;
}