.button {
    background-color: #159b11;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    padding: 25px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 8px;
    margin-left: 325px;
    
}

.button-contato{
    margin-left: 230px;
}

.button-login{
    margin-left: 150px;
}

.button-area{
    margin-left: 85px;
    width: 150px;
}

.button-category{
    margin-left: 115px;
    width: 150px;
}

.button-subcategory{
    margin-left: 145px;
    width: 150px;
}

.button-cost{
    margin-left: 95px;
    width: 150px;
}

.button-typeform{
    margin-left: 95px;
    width: 150px
}

.button:hover{
    color: #7dd17d;
}

