.button {
    background-color: #159b11;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    padding: 25px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 8px;
    margin-left: 325px;
}

.button-contato{
    margin-left: 230px;
}

.button-login{
    margin-left: 150px;
}

.button-area{
    margin-left: 85px;
    width: 150px;
}

.button-category{
    margin-left: 115px;
    width: 150px;
}

.button-subcategory{
    margin-left: 145px;
    width: 150px;
}

.button-cost, .button-typeform, .button-number{
    margin-left: 95px;
    width: 150px;
}

.button-componentform{
    width: 150px;
}

.button-productivityform{
    margin-left: 190px;
    width: 150px;
}

.button-redirector, .button-totalreport{
    margin-left: 128px;
}

.button-activityform{
    margin-left: 160px;
}

.button-absortioncosting{
    margin-left: 100px;
}

.button-variablecosting, .button-costingabc, .button-costreport, .button-abcreport{
    margin-left: 80px;
}

.button-costunit{
    margin-left: 110px;
}

.button:hover{
    color: #7dd17d;
}

