.button {
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    padding: 25px;
    border: none;
    cursor: pointer;
    color: #000000;
    margin: 8px;
    background: linear-gradient(to right,rgb(35, 255, 150), rgb(89, 255, 176), rgb(143, 255, 202));
}

.button-contato{
    margin-left: 194px;
    width: 150px;
}

.button-login{
    margin-left: 194px;
    width: 150px;
}

.button-area{
    margin-left: 194px;
    width: 150px;
}


.button-category{
    margin-left: 194px;
    width: 150px;
}

.button-subcategory{
    margin-left: 194px;
    width: 150px;
}

.button-typeform{
    margin-left: 330px;
    width: 150px;
}

.button-number{
    margin-left: 194px;
    width: 150px;
}

.button-componentform{
    width: 150px;
}

.button-productivityform{
    margin-left: 194px;
    width: 150px;
}

.button-redirector{
    width: 150px;
    margin-left: 194px;
}

.button-totalreport{
    width: 150px;
    margin-left: 194px;
}

.button-activityform{
    width: 150px;
    margin-left: 194px;
}

.button-absortioncosting{
    margin-left: 194px;
    width: 150px;
}

.button-variablecosting, .button-abcreport{
    width: 150px;
    margin-left: 194px;
}

.button-costreport{
    width: 150px;
    margin-left: 194px;
}

.button-abcreport{
    width: 150px;
    margin-left: 194px;
}

.button-costingabc{
    width: 150px;
    margin-left: 194px;
}

.button-costunit, .button-changepassword{
    width: 150px;
    margin-left: 194px;
}

.button-changepassword{
    width: 150px;
    margin-left: 194px;
}

.button-forgotpassword{
    margin-left: 194px;
    width: 150px;
}

.button-cost{
    width: 150px;
    margin-left: 194px;
}

.button-homeregister{
    width: 500px;
    margin-left: 90px;
    border-radius: 5px;
    padding: 100px;
    font-size: 50px;
}

.button-homesimulations{
    width: 500px;
    border-radius: 5px;
    padding: 100px;
    font-size: 50px;
}

.button-homereport{
    width: 500px;
    margin-left: 350px;
    border-radius: 5px;
    padding: 100px;
    font-size: 50px;
}

.button-reportsabc, .button-reportcost, .button-reportunit, .button-reporttotal{
    width: 400px;
    padding: 60px;
    margin-left: 126px;
    border-radius: 5px;
    font-size: 30px;
}

.button-simulationsabc{
    width: 480px;
    margin-left: 126px;
    border-radius: 5px;
    padding: 60px;
    font-size: 35px;
}

.button-simulationscost{
    width: 480px;
    border-radius: 5px;
    padding: 60px;
    font-size: 35px;
}

.button-simulationunit{
    width: 480px;
    margin-left: 358px;
    border-radius: 5px;
    padding: 60px;
    font-size: 35px;

}

.button-formsarea, .button-formsatividade, .button-formscategoria, .button-formscomponente, .button-formscusto, .button-formsdirecionador, .button-formsprodutividade, 
.button-formssubcategoria, .button-formstipo, .button-formsunidade{
    width: 400px;
    padding: 60px;
    margin-left: 126px;
    border-radius: 5px;
    font-size: 30px;
}


.button:hover{
    color: #ffffff;
}

